.SUBSCRIBE-button{
                 background-color: rgb(225, 0, 0);
                 color:white;
                 border: none;
                 border-radius: 20px;
                 height: 36px;
                 width:105px;
                 cursor: pointer;
                 margin-left: 9px;
                 margin-right: 10px;
                 padding-left: 8px;
                 padding-top: 8px;
                 padding-right:8px;
                 padding-bottom: 8px;
                 vertical-align: top;
                 
         
             }
             .SUBSCRIBE-button:hover{
                 background-color:blue;
               opacity: O.8;
               transition: opacity 2s;
                 box-shadow: 10px 10px 10px ;
         
         
             }
             .SUBSCRIBE-button:active{
                 background-color:black;
              opacity: 0.5;
             }
              .JOIN-button{
                 background-color:white;
                 color:rgba(0, 0, 255, 0.452);
                 border: none;
                 border-style: solid;
                 border-radius: 20px;
                 height: 36px;
                 width:105px;
                 cursor: pointer;
                 margin-left: 9px;
                 margin-right: 9px;
                 padding-left: 8px;
                 padding-top: 8px;
                 padding-right:8px;
                 padding-bottom: 8px;
                 vertical-align: top;
                 
                 
         
                 
             }
             .JOIN-button:hover{
                 background-color:red;
                 transition: opacity 2s;
                 box-shadow: 10px 10px 10px ;
         
         
                 opacity: 0.8;
         
             }
             .JOIN-button:active{
                 background-color:black;
                 opacity: 0.5;
             }
             
             .TWEET-button{
                 background-color: blue;
                 color:white;
                 border: none;
                 border-radius: 20px;
                 height: 36px;
                 width:105px;
                 font-size: 15px;
                 cursor: pointer;
                 margin-left: 9px;
                 margin-right: 9px;
                 box-shadow: 10px 10px 10px;
                 padding-left: 8px;
                 padding-top: 8px;
                 padding-right:8px;
                 padding-bottom: 8px;
                 vertical-align: top;
                 
         
         
             }
             .TWEET-button:hover{
                 background-color:red;
                 opacity: 0.8;
                 transition: opacity 2s;
                 box-shadow: 10px 10px 10px ;
         
         
             }
             .TWEET-button:active{
                 background-color:black;
                 opacity: 0.8;
             }
         
         
         